---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCarousel from "../components/ProjectCarousel";
import ProjectTech from "../components/ProjectTech";
import { motion } from 'framer-motion';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen whitespace-nowrap overflow-x-hidden bg-white dark:bg-zinc-900">
		<Header title={SITE_TITLE} />
		<main class="relative z-0 overflow-hidden ">
			<video
				autoplay
				loop
				muted
				class="absolute -z-1 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 object-cover w-auto min-w-screen min-h-screen max-w-none"
			>
				<source
					src="/animated-background.mp4"
					type="video/mp4"
				/>
			</video>
			<div class="absolute z-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 object-cover w-screen h-[1080px] min-[2560px]:h-screen bg-gradient-to-t from-white via-transparent to-white dark:to-zinc-900 dark:via-transparent dark:from-zinc-900" />
			<div class="relative bg-white dark:bg-zinc-900 z-30 container max-w-2xl mx-auto px-4 pb-4 rounded-b-xl">
				<div class="z-30 flex-col whitespace-normal mx-4 pt-4">
					<h2 class="text-4xl font-bold border-b uppercase my-4 text-black dark:text-white">&gt; About Me</h2>
					<div class="mx-4">
						<p class="text-base my-2 text-black dark:text-white">
							Hi, I'm Ben! I am a talented and driven software developer based in Christchurch, New Zealand,
							specializing in web and mobile development. My passion for technology has driven me to explore various programming languages,
							frameworks, and even system administration, constantly seeking new and challenging projects to further my skills and experience.
						</p>
						<p class="text-base my-2 text-black dark:text-white">
							When I'm not coding, you'll find me tinkering with my home-lab.
							I bring a strong work ethic, attention to detail, and a creative problem-solving approach to every project,
							ensuring the delivery of high-quality and user-friendly software solutions.
						</p>
						<p class="text-base my-2 text-black dark:text-white">
							With a drive for excellence and a commitment to producing cutting-edge software,
							I am eager to share my portfolio with you and demonstrate my abilities as a software developer.
							Let's work together to bring your ideas to life.
						</p>
					</div>
				</div>
				<div class="flex-col whitespace-normal mx-4 pt-4">
					<h2 class="text-4xl font-bold border-b uppercase my-4 text-black dark:text-white">&gt; Toolkit</h2>
					<div class="mt-4">
						<h3 class="text-xl font-bold pr-4 text-black dark:text-white">Most Used</h3>
						<div class="flex flex-row flex-wrap justify-between gap-y-2 mt-4">
							<ProjectTech client:load name="TypeScript" img="/software/ts-logo.svg" toolLink={"https://www.typescriptlang.org/"}/>
							<ProjectTech client:load name="React / TanStack Query" img="/software/react-query.svg" toolLink={"https://tanstack.com/query/latest"}/>
							<ProjectTech client:load name="Tailwind" img="/software/tailwindcss-mark.svg" toolLink={"https://tailwindcss.com/"}/>
							<ProjectTech client:load name="React" img="/software/react-icon.svg" toolLink={"https://react.dev/"}/>
							<ProjectTech client:load name="React Native" img="/software/react-icon.svg" toolLink={"https://reactnative.dev/"}/>
							<ProjectTech client:load name="Expo" img="/software/expo-logo.svg" toolLink={"https://expo.dev/"}/>
							<ProjectTech client:load name="Next.js" img="/software/nextjs-icon.svg" toolLink={"https://nextjs.org/"}/>
							<ProjectTech client:load name="Jest" img="/software/jest-icon.svg" toolLink={"https://jestjs.io/"}/>
						</div>
					</div>
					<div class="mt-4">
						<h3 class="text-xl font-bold pr-4 text-black dark:text-white">Other</h3>
						<div class="flex flex-row flex-wrap justify-between gap-y-2 mt-4">
							<ProjectTech client:load name="PHP" img="/software/php-logo.svg" toolLink={"https://www.php.net/"}/>
							<ProjectTech client:load name="Laravel" img="/software/laravel-logo.svg" toolLink={"https://laravel.com/"}/>
							<ProjectTech client:load name="C#" img="/software/csharp-logo.png" toolLink={"https://learn.microsoft.com/en-us/dotnet/csharp/"}/>
							<ProjectTech client:load name="Java" img="/software/java-logo.svg" imgClass="h-10" toolLink={"https://www.java.com/en/download/help/whatis_java.html"}/>
							<ProjectTech client:load name="Python" img="/software/python-logo.svg" toolLink={"https://www.python.org/about/"}/>
							<ProjectTech client:load name="Go" img="/software/Go-Logo_Blue.png" imgClass="h-10" toolLink={"https://go.dev/"}/>
						</div>
					</div>
				</div>
				<div class="mx-4 pt-4">
					<h2 class="text-4xl font-bold border-b uppercase my-4 text-black dark:text-white">&gt; Projects</h2>
					<ProjectCarousel client:load />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
